<div>
  <h2>Tracking</h2>
  <div class="panel panel-default">
    <div class="row panel-body">
      <div class="col-md-8">
        <input type="text" class="form-control" placeholder="Description" name="description" required>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control" placeholder="Estimated time" name="estimation" required>
      </div>
      <div class="col-md-2">
        <button class="btn btn-blue btn-outline btn-rounded">Create task</button>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th>Estimation</th>
            <th>Real</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
            <td class="col-md-2">10 hours</td>
            <td class="col-md-2">9 hours</td>
            <td class="col-md-2">
              <a><span class='glyphicon glyphicon-pencil'></span> Edit</a>
              -
              <a><span class='glyphicon glyphicon-trash'></span> Delete</a>
            </td>
          </tr>
          <tr>
            <td class="col-md-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
            <td class="col-md-2">10 hours</td>
            <td class="col-md-2">9 hours</td>
            <td class="col-md-2">
              <a><span class='glyphicon glyphicon-pencil'></span> Edit</a>
              -
              <a><span class='glyphicon glyphicon-trash'></span> Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
