<div>
  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a class="btn btn-blue btn-outline btn-rounded" ui-sref="home.user">Users</a></li>
    <li role="presentation"><a class="btn btn-blue btn-outline btn-rounded" ui-sref="home.manager">Managers</a></li>
    <li role="presentation"><a class="btn btn-blue btn-outline btn-rounded" ui-sref="home.company">Companies</a></li>
    <li role="presentation" class="active"><a class="btn-rounded" ui-sref="home.metric">Metrics</a></li>
  </ul>
  <h2>Metrics <small>Administration</small></h2><button class="btn btn-blue btn-outline btn-rounded" ng-click="vm.createMetric()">Create metric</button>
  <div class="jumbotron">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="metric in vm.metrics">
            <td>{{metric.name}}</td>
            <td>{{metric.description}}</td>
            <td>
              <a ng-click="vm.updateMetric(metric)"><span class='glyphicon glyphicon-pencil'></span> Edit</a>
              -
              <a ng-click="vm.deleteMetric(metric)"><span class='glyphicon glyphicon-trash'></span> Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
