<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Create manager</h4>
  </div>
  <div class="modal-body">
    <div class="modal-body form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-4">Name: </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Name" name="name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4">Email: </label>
        <div class="col-sm-5">
          <input type="email" class="form-control" placeholder="Email" name="email" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4">Company: </label>
        <div class="col-sm-5">
          <select class="selectpicker form-control">
            <option>Flatirons</option>
            <option>Kenzan</option>
            </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Create manager</button>
      <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
    </div>
  </div>  
</div>
