<div>
  <ul class="nav nav-pills pull-right">
    <li role="presentation" class="active"><a href="home.admin.user">Users</a></li>
    <li role="presentation"><a href="home.admin.client">Clients</a></li>
  </ul>
  <h2>User <small>Administration</small></h2><button class="btn btn-primary btn-outline btn-rounded">Create user</button>
  <div class="jumbotron">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>User type</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark Otto</td>
            <td>Admin</td>
            <td>motto@pernix-solutions.com</td>
          </tr>
          <tr>
            <td>Jacob Thornton</td>
            <td>User</td>
            <td>jthornton@pernix-solutions.com</td>
          </tr>
          <tr>
            <td>Larry the Bird</td>
            <td>User</td>
            <td>lthebird@pernix-solutions.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
